<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
        </head>
            <body>
                <div class = "navbar navbar-inverse navbar-dark " style="background-color:#800020;" role = "navigation">
                    <div class = "container-fluid">
                        <div class="navbar-header">
                            <button type="button" class = "navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
                                <span class = "sr-only">
                                    Toggle navigation
                                </span>
                                <span class = "icon-bar"></span>
                                <span class = "icon-bar"></span>
                                <span class = "icon-bar"></span>
                            </button>
                            <a class = "navbar-brand" href = "/">
                                Kellen News
                            </a>
                        </div>
                        <div class = "navbar-collapse collapse">
                            <ul class = "nav navbar-nav">
                                <li>
                                    <a href="/">Home</a>
                                    <a href="/#business">Business</a>
                                    <a href="/#entertainment"> Entertainment</a>
                                    <a href="/#sports">Sports</a>
                                    <a href="/#science">Science</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </body>
    </html>
